.services_container {
  .horizontal-line {
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
  }
  .icon_holder {
    height: 200px;
    .number {
      font-size: 12rem;
      color: var(--section-color);
    }
    .icon {
      font-size: 5rem;
      color: var(--green-color);
    }
  }
}
